* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --Cyan: hsl(180, 66%, 49%);
  --Cyanhover: hsl(180, 75%, 60%);
  --DarkViolet: hsl(257, 27%, 26%);
  --Red: hsl(0, 87%, 67%);
  --Gray: hsl(0, 0%, 75%);
  --GrayishViolet: hsl(257, 7%, 63%);
  --VeryDarkBlue: hsl(255, 11%, 22%);
  --VeryDarkViolet: hsl(260, 8%, 14%);
}
/* Nav bar styles */
nav {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  padding-left: 13%;
  padding-right: 13%;
}
.logo-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-list li a {
  margin-left: 30px;
  color: var(--GrayishViolet);
  text-decoration: none;
  transition: 0.5s;
}

.logo-list li {
  display: inline;
  margin-left: 30px;
}
.page-links li a:hover,
.sign-up a:hover {
  color: black;
}
.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-up a {
  margin-right: 40px;
  text-decoration: none;
  color: var(--GrayishViolet);
  transition: color 0.5s;
}
.sign-up button {
  padding: 10px 22px 10px 22px;
  border: none;
  border-radius: 20px;
  background-color: var(--Cyan);
  color: white;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

/* Main section styles */
main {
  margin-top: 70px;
}
.write-up {
  align-self: center;
  margin-left: 13%;
  width: 35%;
}
.write-up h1 {
  font-weight: bolder;
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 10px;
}
.write-up p {
  color: var(--GrayishViolet);
  margin-bottom: 20px;
  font-size: 16px;
  width: 65%;
}
.write-up button,
.first-footer button {
  padding: 10px 25px 10px 25px;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  background-color: var(--Cyan);
  color: white;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}
.write-up button:hover,
.first-footer button:hover,
.submit:hover,
.sign-up button:hover {
  background-color: var(--Cyanhover);
  cursor: pointer;
}
.hero-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
}
.shorten-link {
  background-color: #e3e3e3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.url-input {
  background-image: url(../images/background2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 2.2%;
  padding-bottom: 2.2%;
  width: 74%;
  margin-top: -60px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.input-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.input {
  width: 75%;
  padding: 15px 0px 15px 0px;
  border: 1px solid var(--Gray);
  outline: none;
  border-radius: 7px;
  text-indent: 15px;
}
.input:focus {
  outline: none;
  border: 1px solid var(--Cyan);
}
.submit {
  background-color: var(--Cyan);
  border: none;
  padding: 10px 25px 10px 25px;
  border-radius: 7px;
  color: white;
  font-size: 18px;
  transition: 0.5s;
  width: 15%;
}
.stats {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 100%;
  padding-bottom: 70px;
}
.stats-write-up {
  text-align: center;
  width: 450px;
  line-height: 30px;
  align-self: center;
}
.stats-write-up h2 {
  font-weight: 700;
  padding-bottom: 20px;
}
.stats-write-up p {
  color: hsl(252, 9%, 57%);
}
.Cards-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 2.5%;
  padding-right: 2.5%;
}
.tag-cards {
  width: 320px;
  padding: 40px 20px 30px 20px;
  background-color: white;
  border-radius: 10px;
  height: 300px;
  z-index: 1;
}
.tag-cards h3 {
  margin-bottom: 20px;
}
.tag-cards p {
  color: hsl(252, 9%, 57%);
  font-size: 14px;
  line-height: 27px;
}
.card2 {
  margin-top: 40px;
}
.card3 {
  margin-top: 80px;
}
hr {
  height: 10px;
  width: 40%;
  margin: auto;
  position: relative;
  top: 210px;
  border: none;
  background-color: var(--Cyan);
}
.article-image {
  background-color: var(--DarkViolet);
  margin-top: -70px;
  margin-bottom: 40px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer styles */
.first-footer {
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.first-footer h2 {
  color: white;
  font-size: 35px;
  margin-bottom: 20px;
}
.second-footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
  padding-bottom: 50px;
}
.footer-features a {
  margin-bottom: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}
.footer-features ul li {
  list-style: none;
  color: var(--Gray);
  margin-top: 13px;
  transition: 0.5s;
}
.footer-features ul li:hover,
.footer-features a:hover {
  color: var(--Cyan);
}
.social-media-links {
  display: flex;
}
.social-media-links li {
  list-style: none;
  margin-right: 20px;
}
.social-media-links li svg :hover {
  fill: var(--Cyan);
}
@media screen and (max-width: 1282px) {
  nav {
    padding-left: 8%;
    padding-right: 8%;
  }
  .write-up {
    margin-left: 8%;
  }
  .write-up p {
    width: 90%;
  }

  .url-input {
    padding-top: 2.1%;
    padding-bottom: 2.1%;
    width: 85%;
  }

  .input {
    padding: 11px 0px 11px 0px;
  }

  .submit {
    padding: 12px 25px 12px 25px;
    font-size: 17px;
  }
}
@media screen and (max-width: 1266px) {
  .write-up {
    margin-left: 8%;
    width: 37%;
  }
  .tag-cards {
    width: 310px;
  }
}
@media screen and (max-width: 1220px) {
  .tag-cards {
    width: 300px;
  }
}
